:root {
	--container-width: 1200px;
	--container-width-whide: 1400px;
	--container-padding: 15px;

	--font-family: 'Noto Sans', sans-serif;
	--second-family: 'Playfair Display', serif;
	--font-size: 14px;
	--font-weight: 400;

	--page-bg: #fff;
	--page-dark-bg: #000;
	--text-main-color: #000;
	--text-second-color: #777777;
	--text-block-color: #fff;
	--subtitle-color: #999999;
	--accent-color: #F72464;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
	--page-footer-bg: #fff;
    --text-color: #fff;
}