.btn,
a.btn {
    display: inline-block;
    top: 0;
    padding: 0 33px;
    border-radius: 4px;
    height: 51px;
    line-height: 48px;
    box-shadow: 0 4px 15px 0 rgba(123, 12, 46, 0.35);
    background-color: var(--accent-color);

    font-family: var(--second-family);
    font-size: 26px;
    color: var(--text-controls-color);

    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

.btn:hover,
a.btn:hover {
    box-shadow: 0 4px 25px 0 rgba(183, 13, 64, 0.35);
    background-color: var(--accent-color);
}
