.btn,
a.btn {
    display: inline-block;
    top: 0;
    // padding: 11px33px 14px;
    padding: 0.42307em 1.26923em 0.538461em;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgba(123, 12, 46, 0.35);
    background-color: var(--accent-color);

    font-family: var(--second-family);
    font-size: 16px;
    color: var(--text-block-color);

    transition:
        box-shadow 0.2s ease-in,
        background-color 0.2s ease-in;

    @include tablet {
        font-size: 26px;
    }
}

.btn:hover,
a.btn:hover {
    box-shadow: 0 4px 25px 0 rgba(183, 13, 64, 0.35);
    background-color: var(--accent-color);
}

.btn--outline,
a.btn--outline {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    height: 42px;
    background-color: var(--text-block-color);
    box-shadow: unset;

    font-family: var(--second-family);
    font-size: 16px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-second-color);
}

.btn--outline:hover,
a.btn--outline:hover,
.btn--join,
a.btn--join {
    color: var(--text-block-color);
    box-shadow: unset;
    transition:
        color 0.2s ease-in,
        box-shadow 0.2s ease-in;
}

.btn--join,
a.btn--join {
    height: 42px;
    line-height: 38px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 16px;
    color: var(--text-block-color);
}