.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    row-gap: 12px;

    &__price {
        display: flex;
        gap: 10px;
    }

    &__price-old {
        text-decoration-line: line-through;
    }
    
    &__price-new {
        font-weight: 700;
        color: var(--accent-color);
    }
}

