.header {
	background-color: var(--page-bg);

	&__row {
		display: flex;
		align-items: center;
		flex-direction: column;
		row-gap: 30px;
		
		@include tablet {
			position: relative;
			justify-content: flex-end;
			flex-direction: unset;
		}
	}

	&__content {
		max-width: 600px;
		@include tablet {
			position: absolute;
	
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
			margin-bottom: 20px;
		@include tablet {
			margin-bottom: 60px;
			
		}
	}

	// &__btn-wrapper {
	// }

	// &__img {
	// }
}
