.info-section {
    // для фона заливки используем псевдоэлемент к родителю info 
    position: relative;
    background-image: url("./../../img/info/get.jpg");
    background-position: center center;
    /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    &__row {
        // чтобы текст вышел выше по уровню надо выставить для индекса позишин релатив
        position: relative;
        z-index: 1;

        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @include tablet {
            height: 188px;
            justify-content: space-between;
            flex-direction: unset;
            padding: 0 100px;

        }
    }
}

.info-section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.special-section {
    background-image: url("./../../img/info/special.jpg");
}