.mobile-nav {
	content: '';
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);

	&__list {
		z-index: 9;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 250px;
		background-color: var(--page-dark-bg);
		padding: 50px;
		transform: translateX(-100%);
		transition: transform 0.2s ease-in;
		
	}

	&__list-item+&__list-item {
		margin-top: 10px;
	}

	&__link {
		color: var(--text-block-color);
	}
}

.mobile-nav--visible {
	display: block;
}

.mobile-nav--visible .mobile-nav__list {
	transform: translateX(0%);
}