.nav {
	padding: 20px 0;
	font-family: var(--font-family);
	color: var(--text-main-color);

	@include tablet {
		padding: 40px 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
	&__logo {
		margin-right: 10px;
		
		font-weight: 400;
		font-size: 28px;
		
		@include tablet {
			margin-right: 50px;
		}
	}

	&__logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	&__list {
		display: none;
		gap: 30px;
		
		font-size: 18px;
		margin-top: 4px;
		
		@include tablet {
			display: flex;
		}
	}

	&__item:hover a {
		color: var(--accent-color);
	}

	&__cart {
		margin-left: auto;
	}

	&__cart-link {
		position: relative;
		display: inline-block;
		padding: 5px;
		margin-top: 4px;
	}

	&__cart-num {
		position: absolute;
		top: -10%;
		right: -3%;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--accent-color);

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: var(--text-block-color);
	}
}
