.nav {
	padding: 40px 0;
	font-family: var(--font-family);
	color: var(--text-main-color);

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		margin-right: 80px;

		font-weight: 400;
		font-size: 28px;
	}

	&__logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	&__list {
		display: flex;
		gap: 30px;

		font-size: 18px;
		margin-top: 4px;
	}

	&__item:hover {
		text-decoration: underline;
		color: var(--accent-color);
	}

	&__cart {
		margin-left: auto;
	}

	&__cart-link {
		position: relative;
		display: inline-block;
		padding: 5px;
		margin-top: 4px;
	}

	&__cart-num {
		position: absolute;
		top: -10%;
		right: -3%;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--accent-color);

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: var(--text-controls-color);
	}
}
