.products {
    padding-top: 60px;
    padding-bottom: 70px;
    
    &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

        margin-bottom: 40px;
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 30px;

        margin-bottom: 40px;
    }

    &__btn-wrapper {
        text-align: center;
    }
}

.products-featured {
    padding-top: 70px;
    padding-bottom: 70px;

}