.title-1 {
	font-size: 72px;
	font-weight: var(--font-weight);
	font-family: var(--second-family);
}

.title-2 {
	font-size: 40px;
	font-weight: var(--font-weight);;
	font-family: var(--second-family);
}

.title-3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 96px;
	font-family: var(--font-titles);
}

.title-4 {
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}

.text-1 {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: 22px;
	line-height: 1.5;
	color: var(--text-main-color);
}
